html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* Restauração da função de exibição HTML5 para navegadores mais antigos */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style:none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/*************************
	Main Styling
*************************/
body {
	color: #636363;
	padding-top: 15px;
	font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
}
a {
	color:#FAFAD2;
	text-decoration: none;
}
a:hover,
a:focus {
	text-decoration: underline;
}
#container {
	width: 100%;
	margin: 0 auto;
	padding: 0 15px;
}
/* Header */
#container > header {
	padding:0 ;
}

header div#logo {
	padding-top: 0.2em;
	font-size: 2em;
	font-style: italic;
	font-family: Georgia;
	width: 100%;
}
header nav {
	float: right;
    padding: 0;
}
header nav ul {
	margin-top: inherit;
	padding-top: inherit;
	float: right;
    padding-right: 2.3em;
}
header nav ul li {
	float: left;
	padding: 1.5em 0 1.5em 1em;
}
header nav ul li a,
header nav ul li a:visited {
	font-size: 0.6em;
	text-decoration: none;
	color: #4A4A4A;
}
header nav ul li a.active,
header nav ul li a:focus,
header nav ul li a:hover {
	color: sandybrown;
}
/* Home Featue */
section#feature {
    background-color: #DAA520;
	margin-bottom: 1em;	
	font-size: 1.0em;
    margin: 0.1em 0.1 0em;
	font-family: Georgia;
    color: black;
}
section#id_feature p, h1 {
	text-align: left;
	font-size: 20px;
	padding-top: 10px;
}
section#id_feature h3 {
	text-align: center;
	font-size: 20px;
	padding-top: 10px;
}
section#feature figure{
	margin-bottom: 60px;
	padding:8px;
    padding-top: 20px;
    padding-left: 20px;
}
section#feature button{
	padding:8px;
    margin-bottom:20px;
    margin-left:45%;
    float:center;
}
section#formulario p {
    
	text-align:left;
	line-height:20px;
    padding: 6px;
    margin-bottom:10px;
}
ul{
	text-align: left;
}
button{
	float: center;
    height: 60px;
    width: 150px;
}
/* Page Text */
section#page-text {
	padding: 30px;
	font-size: 0.9em;
	background: #FAFAD2 ;
	text-align: center;
}
/* Clearfix Hack */
section#page-text:before, section#page-text:after { content: ""; display: table; }
section#page-text:after { clear: both; }
section#page-text { *zoom: 1; }
#container > div:before, #container > div:after { content: ""; display: table; }
#container > div:after { clear: both; }
#container > div { *zoom: 1; }
section#page-text > h1 {
	text-align:left;
	font-size: 1.4em;
	margin: 0.8em 0 1.6em;
    color: black;
}
section#page-text > h2 {
	text-align:center;
	font-size: 1.5em;
	margin: 0.8em 0 1.6em;
    color:#DAA520 ;
}
section#page-text p{
	text-indent: 50px;
}
section#page-text section h1 {
	font-size: 1.2em;
	margin: 1em 0 1em 5px;
    margin-top: auto;
	text-align: left;
    font-style:italic;
    font-family:sans-serif;
}
section#page-text article {
	padding: 1.5em 0;
	border-top: 1px dotted #DDD;
}
section#page-text article header {
	padding: 0;
}
section#page-text article header p {
	font-size: 0.8em;
}

section#page-text article h1 {
	text-align: left;
	font-weight: 500;
	font-size: 1.2em;
}
section#page-text > h1:before,
section#page-text > h1:after {
	padding: 0 0.4em;
	color:#FAFAD2;
}
#menu-images {
	float: right;
	width: 240px;
	margin-left: 0px;
}
#menu-images figure {
	margin-bottom: 1em;
	width: 1100px;
}
#menu-images figcaption {
	font-family: Georgia, serif;
	margin-top: 0.5em;
	font-style: italic;
}

#menu-images img {
	max-width: 100%;
}
image figure{
	margin-left: 0px;
	float: center;
	width: 100%;
	height: auto;
}
table caption {
	text-align: left;
	padding-left: 5px;
	margin-bottom: 1em;
}

ul#sitemap {
	text-align: left;
	list-style: disc;
	padding-left: 20px;
}
ul#sitemap a {
	color: #DAA520;
}
ul#sitemap li {
	padding: 0.5em 0;
}
section#page-text dl {
	margin: 0;
	padding: 0;
}
section#page-text dt {
	padding-top: 1em;
	font-size: 0.9em;
}
section#page-text dd {
	padding: 0.3em 1;
    float: left;
}
/* Home Text */
section#home-text {
	float: left;
	width: 542px;
	padding: 0px;
	margin: 0;
	font-size: 0.9em;
	background:	#F8F8FF;
}
section#home-text h1 {
	font-weight: bold;
    font-size:1.2em;
	margin-bottom: 0.8em;
    color: #DAA520;
}
section#home-text p,
section#page-text p {
	line-height: 1.8em;
	margin: 0.9m 0 0;
	text-align: left;
}
section#offers {
	color: white;
	width: 340px;
	padding: 15px;
	margin-left: 588px;;
	background: #DAA520;
	border-bottom: 1px solid white;
	font-size: 0.9em;
	line-height: 1.0em;
}
section#offers ul li {
	padding: 0.5em 0;
}
section#contact h1,
section#offers h1 {
	font-weight: bold;
}
section#contact p,
section#offers p {
	line-height: 1.4em;
	margin: 0.5em 0 0;
}
div#formButton {
	float: right;
	margin-top: 15px;
	width: 372px;
}
div#formButton a {
	display: block;
	color: white;
	text-align: left;
	padding: 15px;
	border: 1px solid 	#FAFAD2;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	-o-border-radius: 5px;
	background-image:	#FAFAD2;
}
div#formButton a:hover {
	text-decoration: none;
	background-image: 	#FAFAD2;
		left bottom,
		left top,
		color-stop:#DAA520;
		color-stop: #DAA520;
}
div.field {
	line-height: 1.4em;
	margin: 0.8em 0 0;
	text-align: right;
}
div#container{
    width: auto;
    height: auto;
}
div#container figure {
	float: center;
	width: 100%;
	height: auto;
}
form label {
	width: 320px;
	display: inline-block;
	vertical-align: top;
}
form input[type="text"],
form input[type="email"],
form input[type="tel"],
form input[type="number"],
form input[type="datetime-local"] {
	width: 180px;
	border: 1px solid #999;
	padding: 3px;
}
form select {
	width: 180px;
}
form span.required {
	color: #DAA520;
	font-size: 0.8em;
}
form p.validation-tip {
	color: #DAA520;
}
form fieldset {
	margin: 1em 0;
	padding: 1em;
	border: 1px solid #999;
}
/*Table */
table {
    font-family: Georgia, sans-serif;
    border-collapse: collapse;
    width: 100%;
}
td, th {
    border: 1px solid #DAA520;
    text-align: left;
    padding: 8px;
}
th{
    text-decoration-color: black;
    font-style: oblique;
    font-variant-caps: all-caps;
    font-size: 1.2em;
}
tr:nth-child(even) {
    background-color: #FAFAD2;
}
a: link{
    color:darkgoldenrod;
    text-decoration: underline;
}
/* Footer */
footer {
	text-align: center;
	font-size: 0.7em;
	border-top: 1px dotted linen;
	padding-top: 1em;
	margin: 1em;
	clear: both;
}
footer a,
footer a:visited {
	color: #636363;
}
footer a:hover,
footer a:focus {
	color: #DAA520;
}
/****/
textarea{
	float: left;
	width: 542px;
	padding: 0px;
	margin: 20;
	margin-left: 60px;
}
section#pagetext,
 {
	width: 298px;
	background-color:#FAFAD2;
	border: 1px solid;
	-webkit-border-radius: 1px;
	-moz-border-radius: 1px;
	border-radius: 1px;
}
section#location1,
{
float:right;
	width: 542px;
	padding: px;
	font-size: 0.9em;
    color: black;
}
.location-phone,{
    float: right;
    padding-top: 10em;
}
#location1distance,
 {
	padding-top: 1em;   
}
.nearest #location1distance,
{
	font-weight: bold;
}
/* Float Fixes */
.clearfix:before, .clearfix:after { content: ""; display: table; }
.clearfix:after { clear: both; }
.clearfix { *zoom: 1; }

#imagemnote {
	width: 100%;
}
@media only screen and (max-width:800px) {
  /* For tablets: */
  .main {
    width: 80%;
    padding: 0;
  }
  .right {
    width: 100%;
  }
}
@media only screen and (max-width:500px) {
  /* For mobile phones: */
  .menu, .main, .right {
    width: 100%;
  }